body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin: 0 5px;
    background-color: white;
    color: #4CAF50;
}

.tab.active {
    background-color: #4CAF50;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #4CAF50;
    color: white;
}

.ban-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ban-button:hover {
    background-color: #d32f2f;
}

.report-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.report-card p {
    margin: 5px 0;
}

#reportsContainer {
    display: none;
}

#medicineTable {
    display: none;
}